<!DOCTYPE html>
<html lang="en">
  <head>
    {{>headerlinks}}
  </head>
  <body>
    {{>navbar}}
    
    <!-- <------Main Header -------->
      <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
              <div class="row">
                <!-- left side div -->
                <div class="col-md-6 col-12 main_header_right">
                    <figure>
                        <img src="image/bg.png" alt="prasenjit" class="img-fluid" title="prasenjit">
                    </figure>
                </div>
                <div class="col-md-6 col-12 main_header_left">
                    <p>Welcome to weather app</p>
                    <h1>I AM A <span class="text_clr"> Web Developer </span> Freelancer </h1>
                    <a href="/weather"><button>checkn now</button></a>
                </div>
                <!-- right side div  -->
                

              </div>
            </div>
          </div>
        </div>
        
        <!-- <------footer --------->
          {{>footer}}
  </body>
</html>
